
/* Add background to home hero */
.jumbotron {
    display: flex;
    align-items: center;
	background-image: url("./home-hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, .9) !important;
	position: relative;
	z-index: 1;
    min-height: 100vh;
}

.jumbotron .container {
	z-index: 1;
	position: relative;
}

.jumbotron:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	z-index: 0;
}

.btn-primary {
	background-color: var(--colored);
	outline: var(--colored);
	border: var(--colored);
}

.btn-primary:hover {
	background-color: #772238;
	border-color: #772238;
}