
footer {
    display: flex;
    flex-direction: column;
}

/* Interactive animation for footer navigation items */
footer .nav-link {
	position: relative;
}

footer .nav-link:before {
	background: var(--colored);
	content: "";
	display: block;
	position: absolute;
	width: 5px;
	height: 5px;
	bottom: 0;
	left: 0;
	top: calc(50% - 6px);
	margin-top: 5px;
	border-radius: 5px;
	opacity: 0;
	transition: .2s;
}

footer .nav-link:hover:before {
	opacity: 1;
	;
}

footer .nav-link {
	transition: all .2s;
}

footer .nav-link:hover {
	color: var(--colored) !important;
}

footer .copy-right {
	background-color: var(--black) !important;
}

footer .social .btn {
	background-color: var(--black) !important;
	transition: all .5s;
}

footer .social .btn:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, .7);
}
